@mixin hideScrollbar() {
    &::-webkit-scrollbar {
        width:5px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent
    }
}

@mixin scrollbar() {
    &::-webkit-scrollbar {
        width:5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .2)
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5)
    }
}
