@mixin scrollbar() {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 0px;
      }
}

@media (hover: none) {
    div {
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .2)
        }
    }
}